/* Header */
.header {
    background: #004080;
    width: 110%;  
    color: white;
    text-align: center;
    padding: 2px;
    font-family: Arial;
    
}

/* Menu */
.menu {
    background: #e6e6e6;
    font-family: Arial;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    text-decoration: none;
    color: #003366;
    font-weight: bold;
}

.menu ul li a:hover {
    color: #ff6600;
}

/* Content Area */
.content {
    padding: 20px;
    font-family: Arial;
}
